<main>
    <mat-toolbar style="height: 10vh; justify-content: center;">
        <mat-toolbar-row>
            <button mat-icon-button color="primary" aria-label="Menu button with menu icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Cinemais</span>
            <span class="spacer"></span>
            <button mat-icon-button color="primary" aria-label="Account button with your account icon">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container autosize>
        <mat-drawer #drawer mode="over" style="padding-top: 20px; min-width: 200px; padding-left: 20px;">

            <mat-list>

                <mat-list-item>
                    <a mat-list-item routerLink="register" >
                        <div class="icon-text">
                            <mat-icon>edit-note</mat-icon>
                            <span> Cadastrar filme</span>
                        </div>
                    </a>
                </mat-list-item>
                
                <mat-list-item>
                    <a mat-list-item routerLink="movie-list" class="icon-text">
                        <div class="icon-text">
                            <mat-icon>movie</mat-icon>
                            <span> Seus filmes</span>
                        </div>
                    </a>
                </mat-list-item>
                
                <mat-list-item>
                    <a mat-list-item routerLink="about" class="icon-text">
                        <div class="icon-text">
                            <mat-icon>info</mat-icon>
                            <span> Sobre</span>
                        </div>
                    </a>
                </mat-list-item>
    
            </mat-list>
        </mat-drawer>
        <mat-drawer-content style="height: 90vh;">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-drawer-content>
    </mat-drawer-container>
</main>