<script src="https://accounts.google.com/gsi/client" async></script>

<div>
    <mat-toolbar>
        <img src="../../assets/logo.png" style="height: 3rem; margin-right: 10px;" alt="">
        <span>Youtube Playlist Sorter</span>
        <span class="spacer"></span>

        <div *ngIf="!isLogged; else logout">
            <asl-google-signin-button type='standard' size='large' shape="circle">
            </asl-google-signin-button>
        </div>
        <ng-template #logout>
            <button mat-icon-button color="primary" (click)="logOut()">
                <mat-icon>logout</mat-icon>
            </button>
        </ng-template>
    </mat-toolbar>
    <div *ngIf="isLogged; else home">
        <app-dashboard></app-dashboard>
    </div>
    <ng-template #home>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh;">
            <div style="display: flex; flex-direction: row;">
                <img src="../../assets/logo.png" alt="" style="height: 10rem; margin-right: 1rem;">
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <h1>Bem-vindo ao Youtube Playlist Sorter!</h1>
                    <p>É necessário fazer login com sua conta Google para continuar</p>
                </div>
            </div>
        </div>
    </ng-template>
</div>

