<h2>Cadastro</h2>
<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="titleControl.hasError('required')">
            Título é obrigatório.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Diretor</mat-label>
        <input matInput formControlName="director">
        <mat-error *ngIf="directorControl.hasError('required')">
            Diretor é obrigatório.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Gênero</mat-label>
        <mat-select required formControlName="genre">
            <mat-option *ngFor="let genre of genres" [value]="genre.value">
                {{genre.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="genreControl.hasError('required')">
            Gênero é obrigatório.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput type="number" formControlName="year">
        <mat-error *ngIf="yearControl.hasError('required')">
            Ano é obrigatório.
        </mat-error>
        <mat-error *ngIf="yearControl.hasError('min')">
            Ano mínimo é 1895.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Sinopse</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" formControlName="sinopsis"></textarea>
        <mat-error *ngIf="sinopsisControl.hasError('required')">
            Sinopse é obrigatória.
        </mat-error>
        <mat-error *ngIf="sinopsisControl.hasError('minlength')">
            Mínimo 10 caracteres.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Poster</mat-label>
        <input matInput formControlName="poster">
        <mat-error *ngIf="posterControl.hasError('required')">
            Poster é obrigatório.
        </mat-error>
    </mat-form-field>

    <div class="btns">
        <button mat-raised-button type="reset">Limpar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!movieForm.valid">{{ submitBtn }}</button>
    </div>
</form>